.h5p-mini-course-unit-panel {
  padding: 1em;
  position: relative;
  display: inline-block;
  height: auto;
  box-sizing: border-box;
}/*
.h5p-mini-course-unit-panel-inner:after {
  font-family: H5PFontIcons;

  font-size: 1.5em;
  position: absolute;
  top: 0;
  right: 0;
  height: 1em;
  width: 1em;
  vertical-align: baseline;
  line-height: 1;
}*/
.h5p-mini-course-unit-panel-inner {
  padding: 1em;
  border: 1px solid #ddd;
  background-color: #f1f1f1;
  transition: all 0.8s;
  box-shadow: 0 0 20px rgba(0,0,0,0.08);
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  border-radius: 1em;
}

.h5p-mini-course-unit-panel-inner:focus {
  outline: none;
  border-color: blue;
}
/*.h5p-mini-course-unit-panel-inner:after {

  font-family: 'H5PFontAwesome4';
  content: '\f129';

  position: absolute;
  top: .5em;
  right: .5em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 50%;
}*/
.enabled .h5p-mini-course-unit-panel-inner {
  background: #fff;
  box-shadow: 0 0 30px rgba(0,0,0,0.25);
}
.h5p-mini-course-unit-header {
  font-size: 0.8em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ddd;
  color: #333;
  position: relative;
}
.h5p-mini-course-unit-header-label {
  color: #777;
}
.h5p-mini-course-unit-header-label:after {
  content: ':';
}
.h5p-mini-course-unit-header-value {
  position: absolute;
  right: 0;
  top: 0
}
.h5p-mini-course-unit-title {
  font-size: 130%;
}
.h5p-mini-course-unit-intro {
  margin-bottom: 2.5em;
}
.h5p-mini-course-unit-begin,
.h5p-mini-course-unit-begin:active {
  font-size: 100%;
  width: calc(100% - 2em);
  border: none;
  border-top: 1px solid #ddd;
  /*transition: all .5s;*/
  padding: 0.5em 0;
  margin: 0;
  background: none;
  position: absolute;
  bottom: 0;
  left: 1em;
  right: 1em;
  cursor: pointer;
}
.h5p-mini-course-unit-begin[data-state='ready']:after {
  font-family: "H5PFontAwesome4";
  content: '\f061';
  margin-left: 1em;
  font-size: 0.5em;
  line-height: 2em;
  display: inline-block;
  vertical-align: middle;
}

button.h5p-mini-course-unit-begin:focus {
  outline-style: dashed;
  outline-width: 1px;
  outline-offset: 1px;
}
button.h5p-mini-course-unit-begin:hover {
  border-radius: 0;
  -webkit-box-shadow: none;
       -o-box-shadow: none;
          box-shadow: none;

}
.locked button.h5p-mini-course-unit-begin {
  background-color: #eee;
  color: #ccc;
}
.locked button.h5p-mini-course-unit-begin:before {
  font-family: 'H5PFontAwesome4';
  content: "\f023";
  padding-right: 0.5em;
}
.done button.h5p-mini-course-unit-begin {
  color: #999;
  pointer-events: none;
}
.done button.h5p-mini-course-unit-begin:before {
  font-family: 'H5PFontAwesome4';
  content: "\f023";
  padding-right: 0.5em;
}

.h5p-sub-content {
  width: 100%;
  padding: 2em;
  box-sizing: border-box;
  height: auto;
  border-radius: 0 0 2em 2em;
}
.h5p-sub-content.h5p-interactive-video {
  padding: 0;
}

/* Remove fullscreen-buttons */
.h5p-sub-content.h5p-interactive-video .h5p-control.h5p-fullscreen {
  display: none;
}
