.h5p-mini-course-max-score-widget {
  font-size: 1.5em;
}
.max-score-widget-title {
  margin-bottom: 1em;
}
.max-score-widget-bg {
  background: #202126;
  border-radius: 1em;
  display: inline-block;
  box-shadow: 1px 3px 3px 0px #000;
  margin-bottom: 1em;
  min-width: 70%;
}
.max-score-widget-score {
  background: #1C1D21;
  color: #43B47C;
  font-weight: bold;

  border-radius: 1em;
  padding: 0.5em 1em;
  margin: 0.5em;
  box-shadow: inset 0 0 20px #000;
}
